.container-headerImage {
    /* max-width: 1600px;
    height: 600px; */
    margin: 1px auto 0;
    position: relative;
    overflow: visible;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
    .container-headerImage {
        margin: 0px 0px 50px;
    }
}


.Image img {
    width: calc(100vw - 20px);
    height: 200%;
    object-fit: initial;
}