.popupBackground {
    width: 100vw;
    height: 100vh;
    background-color: #f8f5f5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
  }
  
  .popupContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: black;
    margin-left: 33%;
    margin-top: 5%;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;
  }
  
  .popupContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: black;
  }

  /* .popupContainer .input{
    background: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
  } */
  
  .popupContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  .popupContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  .popupContainer .title{
    color: black;
    font-size: 35px;
    
  }

  .submitp{
  background-color: #FDD496;
  color: black;
  border-radius: 15px;
  width: 450px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 9px;
  margin-left: 32%;
  width: 200px;
  
  }

  .passwordp{
  width: 340px;
  margin-left: 15%;
  }

  .messagep{
    position: absolute;
    top: 63%;
    left: 49%;
    color: red;
  }