.wrapper {
    max-width: 70vw;
    margin: 50px auto;
    background-color: #FEF4E5;
}

.wrapper h1 {
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "jsMath-cmr10";
}

.project {
    display: flex;
}

.pay {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 400px;
    background-color: #FFFFFF;
    margin-left: 300px;
    border-radius: 50px;
    text-decoration: #FDD496;
    font-family: "jsMath-cmr10";
}

.total {
    margin-left: 300px;
    font-family: "jsMath-cmr10";
}